<div class=top>
<h1 class=heading>ようこそ<strong>Bookers</strong>へ！</h1>
<P class=top-text>
  <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や
  </p>
  <p class=top-text>印象を共有し交換することができます</p>
<p class=top-text><%= link_to "start", books_path %></p>
</div>
